<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-team-manager" >
	<tr>
		<td>
			<f:translate key="tx_teammanager_domain_model_activity.activity_title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teammanager_domain_model_activity.meettime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teammanager_domain_model_activity.activity_goal" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>